body {
	background: #CAE5FF;
	color: #000;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}


.image-container {
	position: relative;
	transition: transform 0.2s;
  width: 400px;
}


.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: #D9D9D9;
	transition: 0.5s ease;
	opacity: 0;
  width: 80%;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}